:root {
    --text: #686868;
    --red: #FF0000;
    --cream: #fdf0d5;
    --darkblue: #003049;
    --grey: #686868
  }
  
  .header {
    background-image: var(--grey);
    color: var(--grey);
  }
  
  .nav-link {
    color: var(--grey);
  }
  
  body {
    background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));;
    color: var(--grey);
    font-family: "Josefin Sans", sans-serif;
    font-family: "Rajdhani", sans-serif;
  }
  
  main {
    padding: 100px;
  }
  
  .img-fluid {
    height: 400px;
    width: 400px;
    padding: 20px;
    border: 5px solid var(--red);
    border-style: inset;
    border-radius: 5%;
  }
  
  .text-overlay {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: 0;
    font-size: 30px;
    color: var(--blue);
    text-decoration: none;
  }
  
  .image:hover .text-overlay {
    opacity: 1;
  }
  
  .tinyLogo {
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
  
  #aboutme.row {
    padding-top: 50px;
  }
  
  .contactme {
    display: flex;
    justify-content: center;
  }
  
  label {
    padding-top: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .resume{
  display: flex;
  justify-content: center;
  padding: 10px;
  }
  
  .resume a{
    text-decoration: none;
    color: var(--grey);
    text-decoration: underline;
  }
  
  .skillset{
  text-decoration: underline;
  }
  
  .skillList{
    border-right: 3px dotted var(--red);
  }
  
  .footer {
    padding: 20px 0;
  }
  
  .footer img {
    width: 75px;
    height: 75px;
    margin: 0 10px;
  }